<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.boolendingapplication.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.boolendingapplication.controller.LogoutController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>com.boolendingapplication.controller.HomeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBookController</servlet-name>
    <servlet-class>com.boolendingapplication.controller.AddBookController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyBooksController</servlet-name>
    <servlet-class>com.boolendingapplication.controller.MyBooksController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteBookController</servlet-name>
    <servlet-class>com.boolendingapplication.controller.DeleteBookController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestController</servlet-name>
    <servlet-class>com.boolendingapplication.controller.RequestController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ApprovalRequestController</servlet-name>
    <servlet-class>com.boolendingapplication.controller.ApprovalRequestController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyRequestApprovalStatusController</servlet-name>
    <servlet-class>com.boolendingapplication.controller.MyRequestApprovalStatusController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ApproveRequestController</servlet-name>
    <servlet-class>com.boolendingapplication.controller.ApproveRequestController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RejectRequestController</servlet-name>
    <servlet-class>com.boolendingapplication.controller.RejectRequestController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReturnRequestController</servlet-name>
    <servlet-class>com.boolendingapplication.controller.ReturnRequestController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WithdrawRequestController</servlet-name>
    <servlet-class>com.boolendingapplication.controller.WithdrawRequestController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditBookController</servlet-name>
    <servlet-class>com.boolendingapplication.controller.EditBookController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditBookSaveController</servlet-name>
    <servlet-class>com.boolendingapplication.controller.EditBookSaveController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchBooksController</servlet-name>
    <servlet-class>com.boolendingapplication.controller.SearchBooksController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyAccountController</servlet-name>
    <servlet-class>com.boolendingapplication.controller.MyAccountController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditPasswordController</servlet-name>
    <servlet-class>com.boolendingapplication.controller.EditPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookController</servlet-name>
    <url-pattern>/addBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyBooksController</servlet-name>
    <url-pattern>/myBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBookController</servlet-name>
    <url-pattern>/deleteBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestController</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApprovalRequestController</servlet-name>
    <url-pattern>/requestsForApproval</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyRequestApprovalStatusController</servlet-name>
    <url-pattern>/myRequestsApprovalStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApproveRequestController</servlet-name>
    <url-pattern>/approve</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RejectRequestController</servlet-name>
    <url-pattern>/reject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReturnRequestController</servlet-name>
    <url-pattern>/return</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WithdrawRequestController</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditBookController</servlet-name>
    <url-pattern>/editBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditBookSaveController</servlet-name>
    <url-pattern>/editBookSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchBooksController</servlet-name>
    <url-pattern>/searchBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyAccountController</servlet-name>
    <url-pattern>/myAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditPasswordController</servlet-name>
    <url-pattern>/editPassword</url-pattern>
  </servlet-mapping>
</web-app>